@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5fef1;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #91b156;
  border-radius: 10px;
}

.btn {
  border: 1px;
  border-radius: 3px;
  background-color: #91b156;
  padding: 4px;
  width: 40%;
  color: #fff;
  transition: 0.5s;
}

.btn:hover {
  background-color: #607042;
  transition: 0.5s;
}

.active {
  border-bottom: 2px solid #607042;
  color: #fff;
}

.btn.disabled {
  background-color: #91b15695;
  cursor: not-allowed;
}
.swal2-confirm,
.swal2-styled {
  background-color: #91b156 !important;
}
